{% extends "base.html" %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="static/images/image_4.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Classes.</h1>
          <p>Find out more about class offerings for adults and childern!</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/image 2.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>2013-2014 Season</h1>
          <p>Dancing in non-traditional venues</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="static/images/image 3.jpg">
      <div class="container">
        <div class="carousel-caption">
          <h1>Latest News</h1>
          <p>Find out more about what's happening with CCP</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<!-- Futhrur Information etc.
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Winter Classes</h2>
      <p>Winter Classes currently are running from January 11-March 29, 2014</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Upcoming Performances</h2>
      <p>March 8th: Athenaeum<br>May 17th: ACA Celebration<br>May 24th: John Carlyle Park </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h2>Latest News</h2>
      <p>Find out more about all the latest CCP happenings.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  
  <!-- CSS JS Implementation -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="docs-assets/js/holder.js"></script>
{% endblock %}